
.main{
  display: flex; /* Divise l'espace en deux parties */
  justify-content: space-evenly; /* Espace entre les deux zones */
  align-items: center; /* Aligne les éléments en haut */
  gap: 2rem; /* Ajoute un espace entre les deux parties */
  width: 100% !important;
  height: 90vh;

}



.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(12, 112, 79);
    margin-top: 3rem;
    width: 80px;
    height: 80px;
    padding: 1rem;
    border-radius: 50%;
  }
  


.icone{
    width: 60px;
    height: 60px;
    perspective: 1000px;
    padding: 1rem;
    object-fit: contain;

}

.block__right{
  display: flex;
  flex-direction: column;
  align-self: flex-start !important;
  margin-top: 5rem;

}

.containerExp__title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  font-size: 22px;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.experience__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1rem;
  justify-content: center !important;
  align-items: center !important;

}

.card__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 colonnes par rangée */
  justify-self: center;
  align-self: center;
  gap: 1rem; /* Espacement entre les icônes */
}


.experience__card {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


}



/* Contour animation vert */
.experience__card::before {
  content: "";
  position: absolute;
  inset: -3px; /* Pour couvrir le contour */
  border-radius: 10px;
  background: linear-gradient(270deg, #1e1e1e, #7fbe97, #1e1e1e, #7fbe97);
  background-size: 400% 400%;
}

.fisheye__logo{
  width: 100px;
  height: 100px;
  perspective: 1000px;
  padding: 1rem;
  object-fit: contain;
}



@media screen and (max-width: 768px) {
  
  .main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;


  }

  .experience__container {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 6rem;
    
  
  }

  .block__right{
    width: 100%;
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 8rem;
  
  }

  .icones {

    width: 50px;
    height: 50px;
  }

  .icone{
    width: 50px;
    height: 50px;  
    perspective: 1000px;
    padding: 1rem;
    object-fit: contain;

  
  }

}