@font-face {
    font-family: "poppinsregular";
    src: url(../fonts/poppins-regular-webfont.woff2) format("woff2"),
         url(../fonts/poppins-regular-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }

  .active{
     color: #7fbe97;

  }
  