@import url(reset.css);
@import url(header.css);
@import url(body.css);
@import url(footer.css);
@import url(variables.css);





/* page experiences */

/* Styles pour la page Expériences */
/* Styles Page Expériences */
.experience__container {
  display: flex; /* Flexbox pour un alignement horizontal */
  justify-content: space-evenly; /* Centre les cartes horizontalement */
  padding: 2rem;
  width: 100%;

}


.experience__card {
  width: 450px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;

}

#military{
  background-image: url('mastermind.jpeg');
  background-size: cover;
  background-position: center;
}



/* Cards principales avec fond sombre et animation verte */
.experience__card{
  background: linear-gradient(145deg, #1e1e1e, #343434); /* Fond sombre */
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.6s ease-in-out;
  cursor: pointer;

}



/* Contour animation vert */
.experience__card {
  content: "";
  inset: -3px; /* Pour couvrir le contour */
  border-radius: 10px;
  border: 4px solid transparent;
  background: linear-gradient(270deg, #1e1e1e, #7fbe97, #1e1e1e, #7fbe97);
  background-size: 400% 400%;

}

/* Animation horaire */
.experience__card:first-child::before {
  animation: borderAnimationClockwise 4s linear infinite;
}

/* Animation antihoraire */
.experience__card:nth-child(2)::before {
  animation: borderAnimationCounterClockwise 4s linear infinite;
}

.btn__game{
  position: absolute;
  bottom: 0;
}

.btn__game:hover{
  transform: scale(1.5);
  font-weight: bold;
}

/* Animation des contours autour des cartes */
@keyframes borderAnimationClockwise {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes borderAnimationCounterClockwise {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Animation de Texte IntÃ©rieur */
.title {
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #7fbe97, #ffffff, #7fbe97);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: textScroll 4s linear infinite;
}

@keyframes textScroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* eclat lumineux Ã  l'apparition */
.experience__card {
  animation: cardAppear 4s ease-in-out infinite;

}
.experience__card:hover{
  animation: none;
  opacity: 95%;
  border: 10px solid #7fbe97;
  border-radius: 5px;
 
 }

@keyframes cardAppear {
  0%, 100% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.1) rotateY(5deg);
  }
}




.title {
  width: 90%;
  font-size: 2rem;
  font-weight: bold;
}









  @media screen and (min-width: 1200px) {
    .experience__container {
      display: flex;
      align-items: center;
      text-align: center;

        min-height: 67vh;
        margin: 2rem;


    }




  }

  @media screen and (max-width: 768px) {
    .experience__container {
        min-height: 100vh;
        display: flex;
        flex-direction: column !important;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;

    }

    .experience__card {
      width: 225px;
      height: 250px;
     
    
    }
    



  }
